extends ../layout

block content
	form(action='/auth/browserid', method='post', class='hidden')
		input(type='hidden', name='_csrf', value=token)
		input(type='text', name='assertion')
	.col-sm-8.col-sm-offset-2
		legend Sign In
		.form-group
			.btn-group.btn-group-justified
				if secrets.twitterAuth
					a.btn.btn-twitter(href='/auth/twitter')
						i.fa.fa-twitter
						| Twitter
				if secrets.githubAuth
					a.btn.btn-github(href='/auth/github')
						i.fa.fa-github
						| GitHub
				a.btn.btn-twitter(id='browserid')
					i.fa.fa-mail
					| Persona