- var cls = [];
- if (standalone) cls.push('is-standalone');
doctype html
html(class=cls)
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title #{title} - D2G
		script(src='/bundle/all.js')
	body
		#wrap
			if !standalone
				include partials/navigation
				.container
					include partials/flash
					block content
				include partials/footer
				script(src='https://login.persona.org/include.js')
			else
				.container.text-center Reminiscing …